flow code unformatted.txt
[{"id":"7d47685f.f032b8","type":"ibmiot in","z":"f8676fc5.009a5","authentication":"apiKey","apiKey":"e366834e.0ea21","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"Nodemcu","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":60,"wires":[["a0466a61.ae8da8","6a97636d.e99adc","94cd6cbc.a3341","eb1df8c3.fad098"]]},{"id":"9d03dd9d.ec053","type":"ui_gauge","z":"f8676fc5.009a5","name":"","group":"3738c7ad.d3e1d8","order":3,"width":6,"height":4,"gtype":"gage","title":"Farm temperature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":20,"wires":[]},{"id":"ec9a3619.d14d78","type":"ui_gauge","z":"f8676fc5.009a5","name":"","group":"3738c7ad.d3e1d8","order":1,"width":6,"height":4,"gtype":"gage","title":"Soil humidity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":60,"wires":[]},{"id":"7c7b7e1c.48df5","type":"ui_gauge","z":"f8676fc5.009a5","name":"","group":"3738c7ad.d3e1d8","order":2,"width":6,"height":4,"gtype":"gage","title":"Crop temprature","label":"C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":100,"wires":[]},{"id":"a0466a61.ae8da8","type":"function","z":"f8676fc5.009a5","name":"temp","func":"\nmsg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":20,"wires":[["9d03dd9d.ec053"]]},{"id":"6a97636d.e99adc","type":"function","z":"f8676fc5.009a5","name":"humid","func":"\nmsg.payload=msg.payload.d.humidity\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":60,"wires":[["ec9a3619.d14d78"]]},{"id":"94cd6cbc.a3341","type":"function","z":"f8676fc5.009a5","name":"obj","func":"\nmsg.payload=msg.payload.d.objectTemp\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["7c7b7e1c.48df5"]]},{"id":"74601960.3a95c8","type":"ibmiot out","z":"f8676fc5.009a5","authentication":"apiKey","apiKey":"29fabfc3.79b58","outputType":"cmd","deviceId":"12345","deviceType":"motorcontrol","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":320,"wires":[]},{"id":"9f1c8378.839ea","type":"ui_button","z":"f8676fc5.009a5","name":"","group":"3738c7ad.d3e1d8","order":14,"width":6,"height":2,"passthru":true,"label":"motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":160,"y":380,"wires":[["74601960.3a95c8","58cd88d.716f178","cb333737.60d9a8","74933740.6b1dc8"]]},{"id":"7bcf4521.053a2c","type":"ui_button","z":"f8676fc5.009a5","name":"","group":"3738c7ad.d3e1d8","order":10,"width":6,"height":2,"passthru":true,"label":"motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":160,"y":320,"wires":[["74601960.3a95c8","58cd88d.716f178","bbc3515a.fda0f","74933740.6b1dc8"]]},{"id":"eb1df8c3.fad098","type":"http request","z":"f8676fc5.009a5","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Delhi, IN&appid=4616dc70dfe47d7d5b97b9fff478314c","tls":"","persist":false,"proxy":"","authType":"","x":150,"y":220,"wires":[["84570e14.6b7dd","e1371b3f.36ca08","5bf0c152.e8606","6d2e49ef.2070c8"]]},{"id":"84570e14.6b7dd","type":"function","z":"f8676fc5.009a5","name":"temp","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["31219de4.91de02"]]},{"id":"e1371b3f.36ca08","type":"function","z":"f8676fc5.009a5","name":"pressure","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["677cc038.2f59"]]},{"id":"31219de4.91de02","type":"ui_text","z":"f8676fc5.009a5","group":"3738c7ad.d3e1d8","order":7,"width":18,"height":1,"name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":200,"wires":[]},{"id":"677cc038.2f59","type":"ui_text","z":"f8676fc5.009a5","group":"3738c7ad.d3e1d8","order":9,"width":18,"height":1,"name":"","label":" atmospheric pressure","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":240,"wires":[]},{"id":"5bf0c152.e8606","type":"function","z":"f8676fc5.009a5","name":"humidity","func":"msg.payload=msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["904a22ab.e38f3"]]},{"id":"904a22ab.e38f3","type":"ui_text","z":"f8676fc5.009a5","group":"3738c7ad.d3e1d8","order":8,"width":18,"height":1,"name":"","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":280,"wires":[]},{"id":"58cd88d.716f178","type":"function","z":"f8676fc5.009a5","name":"motor status","func":"msg.payload=msg.payload.command\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":420,"wires":[["2d96010.df51f"]]},{"id":"2d96010.df51f","type":"ui_text","z":"f8676fc5.009a5","group":"3738c7ad.d3e1d8","order":12,"width":4,"height":2,"name":"","label":"Motor Status:","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":420,"wires":[]},{"id":"6d2e49ef.2070c8","type":"ui_text","z":"f8676fc5.009a5","group":"3738c7ad.d3e1d8","order":5,"width":8,"height":1,"name":"","label":"weather conditions","format":"","layout":"row-spread","x":710,"y":140,"wires":[]},{"id":"cb333737.60d9a8","type":"change","z":"f8676fc5.009a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":540,"wires":[["df8b309a.d5c6d"]]},{"id":"e8b0750f.29cb68","type":"ui_text","z":"f8676fc5.009a5","group":"3738c7ad.d3e1d8","order":17,"width":0,"height":0,"name":"","label":"time motor is on:","format":"{{msg.payload}}minutes","layout":"row-spread","x":920,"y":500,"wires":[]},{"id":"df8b309a.d5c6d","type":"looptimer2","z":"f8676fc5.009a5","duration":"60","units":"Second","maxloops":"3000","maxtimeout":"36","maxtimeoutunits":"Hour","name":"","x":360,"y":500,"wires":[["c3f31431.2c6828"],[]]},{"id":"c3f31431.2c6828","type":"counter","z":"f8676fc5.009a5","inc":1,"name":"","x":680,"y":500,"wires":[["e8b0750f.29cb68","bde2d841.7a2e88"]]},{"id":"52ee9877.e32e08","type":"function","z":"f8676fc5.009a5","name":"msg object","func":"msg.reset = 10;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["c3f31431.2c6828"]]},{"id":"bbc3515a.fda0f","type":"change","z":"f8676fc5.009a5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":460,"wires":[["df8b309a.d5c6d"]]},{"id":"317f4593.b8a40a","type":"ui_button","z":"f8676fc5.009a5","name":"","group":"3738c7ad.d3e1d8","order":18,"width":0,"height":0,"passthru":false,"label":"reset timer","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":580,"wires":[["52ee9877.e32e08"]]},{"id":"74933740.6b1dc8","type":"debug","z":"f8676fc5.009a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":380,"wires":[]},{"id":"bde2d841.7a2e88","type":"debug","z":"f8676fc5.009a5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":580,"wires":[]},{"id":"e366834e.0ea21","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"3738c7ad.d3e1d8","type":"ui_group","z":"","name":"data","tab":"fa49b22.65df65","order":1,"disp":true,"width":18,"collapse":false},{"id":"29fabfc3.79b58","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fa49b22.65df65","type":"ui_tab","z":"","name":"farming","icon":"dashboard","disabled":false,"hidden":false}]